
#HeaderImage {
  position: center;
  width: 100%;
  height: 400px;

}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: black;
  height: 50%;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  width: 11%;
  font-family: 'Inter';
  text-decoration: none;
}

li a:hover {
  color: black;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 160px;
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

button {
  color: white;
  background-color: #9378FF;
  padding: 15px 32px;
  font-size: 20px;
  width: 230px;
  border-radius: 15px;
  margin: 50px;
  position: inline;
}

button:hover {
  color: black;
  background-color: yellow;
}

div {
    display: flex;
  }
  
  div > div {
    border: 1px solid black;
    height:800px;
    flex-grow: 1;
    transition: all .9s;
  }
  
  div > div:hover {
    /*background-color: gray;*/
    flex-grow: 8;
  }
  
  h1, h2 {
      font-family: 'Kavoon';
      color: white;
      font-size: 64px;
      text-align: center;

  }
  body {
      background-image: url("../images/rainbowbackground.png");
      background-color: #1E1E1E;
      background-position: fixed;
  }
  .FirstCard {
    background-color:#3C1D2B;
    color: #B63C76;
    font-family:'Montserrat';
    font-size: 50px;
    display: inline-block;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: 40px;
    border-width: 2mm;
    border-color: #D71470;
    }

.SecondCard {
    background-color: #193424;
    color: #03963D;
    font-family: 'Montserrat';
    font-size: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: 40px;
    border-width: 2mm;
    border-color: #06C324;
    }

.ThirdCard {
    background-color: #2C3644;
    color:#92D0F5;
    font-family: 'Montserrat';
    font-size: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: 40px;
    border-width: 2mm;
    border-color: #0057BA;
}

.FourthCard {
    background-color: #462522;
    color:#DE5242;
    font-family: 'Montserrat';
    font-size: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: 40px;
    border-width: 2mm;
    border-color: #DE5242;
}

.FifthCard {
    background-color: #442653;
    color:#D877FD;
    font-family: 'Montserrat';
    font-size: 50px;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    border-radius: 40px;
    border-width: 2mm;
    border-color: #D877FD;
}

p {
    font-family: 'Montserrat';
    color: white;
    font-size: 38px;
}

.FooterText {
  text-align: center;
}

h3 {
  text-align: center;
  font-family: 'Montserrat';
}

footer {
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.column {
  float: center;
  padding: 10px;
  height: 100px;
}